<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Chat App</title>
  <link rel="stylesheet" href="style.css" />
  <script defer src="http://localhost:3000/socket.io/socket.io.js"></script>
  <script defer src="index.js"></script>
</head>

<body>
  <div class="container">
    <div class="login">
      <h1>Welcome to Chat App</h1>

      <div class="form">
        <input type="text" id="usernameInput" name="name" autocomplete="off" required />
        <label for="name" class="label-name">
          <span class="content-name">Name</span>
        </label>
        <button type="submit" id="username-btn">Enter chat</button>
      </div>
    </div>


    <div id="chat-section">
      <div id="chat-container">
        <div id="list-title">
          <p>Messages</p>
        </div>
        <div id="conversation-list">
          <div id="room">
            <p class="room-title">Test</p>
            <p class="created-date">Dec 2</p>
          </div>


        </div>

        <div id="new-room-container">
          <button>Create new room</button>
        </div>

        <div id="chat-title">
          <h1>Hello there</h1>
        </div>

        <div id="message-list">
          <div class="message-row your-message">
            <div class="message-text">Top of the morning you ladies!</div>
            <div class="message-time">10:46</div>
          </div>
          <div class="message-row other-message">
            <div class="message-text">Fist bump!</div>
            <div class="message-time">10:47</div>
          </div>

        </div>

        <div id="chat-form">
          <form id="send-container">
            <input type="text" id="input-message">
            <button type="submit" id="send-btn">Send</button>
          </form>
        </div>

      </div>
    </div>
  </div>
</body>

</html>