<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Document</title>
  <link rel="stylesheet" href="style.css" />
  <script defer src="http://localhost:3000/socket.io/socket.io.js"></script>
  <script defer src="index.js"></script>
</head>

<body>
  <div class="login-section">
    <div id="login-container">
      <h1>Welcome to Chat App</h1>

      <form id="username-form" action="/" method="post">
        <input type="text" id="username" autocomplete="off" required />
        <label for="username" class="label-name">
          <span class="content-name">Name</span>
        </label>
        <button type="submit" class="username-btn">
          Enter Chat
        </button>
      </form>
    </div>
  </div>

  <!-- ---------------------------------------------- -->

  <div class="chat-section">
    <div id="chat-container">
      <div id="side-bar">
        <div id="side-bar-header">
          <p>Online</p>
        </div>
        <div id="online-list">
          <div id="friends">John Smith</div>
        </div>
      </div>

      <div id="chat-section">
        <div id="chat-window">
          <div class="message-card from-others">
            <p class="name">Kermit</p>
            <div class="content">Hello there</div>

          </div>

          <div class="message-card from-you">
            <div class="content">Hi Kermit!</div>

          </div>
        </div>


        <form id="send-container">
          <input type="text" id="input-message" required>
          <button type="submit" id="send-btn">Send</button>
        </form>

      </div>
    </div>
  </div>
</body>

</html>