<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= roomName %></title>
  <link rel="stylesheet" type="text/css" href="style.css" />
  <script defer src="http://localhost:3000/socket.io/socket.io.js"></script>
  <script defer src="index.js"></script>
</head>

<body>


  <div id="chat-section">
    <div id="chat-container">
      <div id="list-title">
        <p>Members</p>
      </div>
      <div id="online-list">
        <div id="members">John Smith</div>
      </div>

      <div id="leave-room-container">
        <button>Leave room</button>
      </div>

      <div id="chat-title">
        <h1><%= roomName %></h1>
      </div>

      <div id="message-list"></div>

      <div id="chat-form">
        <form id="send-container">
          <input type="text" id="input-message">
          <button type="submit" id="send-btn">Send</button>
        </form>
      </div>

    </div>
  </div>
</body>

</html>